Repository mastodon/joinmastodon, pull requests merged in 2023-07, with the labels that each got.

#360 Add Radiant to apps
  data/apps.ts
  public/apps/radiant.png
Labels: apps

#339 Add Phanpy to Apps list
  data/apps.ts
  public/apps/phanpy.png
Labels: apps

#379 Added Trunks, fixed multiple app copies on All page
  README.md
  data/apps.ts
  public/apps/trunks.png
Labels: apps

#302 Add TootDesk, iOS client
  data/apps.ts
  public/apps/tootdesk.png
Labels: apps

#307 Add Megalodon to apps
  data/apps.ts
  public/apps/megalodon.png
Labels: apps

#317 Adding Statuzer
  data/apps.ts
  public/apps/statuzer.png
Labels: apps

#356 add focus to apps
  data/apps.ts
  public/apps/focus.png
Labels: apps

#373 Add DOStodon to apps list
  data/apps.ts
  public/apps/dostodon.png
Labels: apps

#377 Add TootRain to app list
  data/apps.ts
  public/apps/tootrain.png
Labels: apps

#387 Fixed verification page white heading overlay
  pages/verification.tsx
Labels: bug, a11y-and-ux

#368 Fix: carousel buttons have no discernible text
  pages/index.tsx
Labels: a11y-and-ux

#388 Add Retro computing apps section and clients
  components/AppCard.tsx
  components/AppsGrid.tsx
  data/apps.ts
  locales/en.json
  locales/fr.json
  pages/guide.tsx
  public/apps/amidon.png
  public/apps/brexxtodon.png
  public/apps/dostodon.png
  public/apps/macstodon.png
  public/apps/mastappleiic.png
  public/apps/mastodonforworkgroups.png
  public/apps/mastonine.png
Labels: apps
